// breakpoints
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-lg: 1400px !default;


$green:			#85c655;
$blue:	 		#479c9b;
$orange:		#faaf3e;
$purple_text:	#3e3e49;
$purple_text1:	#2c2c37;
$purple_bg1:	#363645;
$grey1:			#777777;
$pink: 			#f32f66;

// @media (min-width: $screen-sm) {
// }