/*
Any styles for WordPress admin
*/
ul.assigned-files li img {
  vertical-align: middle;
}
.pilau-file-selector .pfs-files,
.pilau-file-selector .pfs-url {
  width: 100%;
  margin: .5em 0;
  font-size: 12px;
}
